<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>G_Draft_1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>package1.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FollowServlet</display-name>
    <servlet-name>FollowServlet</servlet-name>
    <servlet-class>package1.FollowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowServlet</servlet-name>
    <url-pattern>/FollowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxTestServlet</display-name>
    <servlet-name>AjaxTestServlet</servlet-name>
    <servlet-class>package1.AjaxTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxTestServlet</servlet-name>
    <url-pattern>/AjaxTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPostServlet</display-name>
    <servlet-name>GetPostServlet</servlet-name>
    <servlet-class>package1.GetPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPostServlet</servlet-name>
    <url-pattern>/GetPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikeServlet</display-name>
    <servlet-name>LikeServlet</servlet-name>
    <servlet-class>package1.LikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeServlet</servlet-name>
    <url-pattern>/LikeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentServlet</display-name>
    <servlet-name>CommentServlet</servlet-name>
    <servlet-class>package1.CommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentServlet</servlet-name>
    <url-pattern>/CommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>package1.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>package1.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileServlet</display-name>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>package1.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExplorePageServlet</display-name>
    <servlet-name>ExplorePageServlet</servlet-name>
    <servlet-class>package1.ExplorePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExplorePageServlet</servlet-name>
    <url-pattern>/ExplorePageServlet</url-pattern>
  </servlet-mapping>
</web-app>